header.Header
  .container
    a.Header-logo(href='/div383-pardod/')
      img(src="img/logoblack.png" alt="")
    button.Header-switch.button.button-icon.js-toggle-mobile-menu(type='button')
      svg.icon.icon-menu
        use(xlink:href='#icon-menu')  
    .Header-menu
      .Header-menu-search
        svg.icon.icon-search
          use(xlink:href='#icon-search')
        input.text(type="text" placeholder="'Iphone 11'")
      a.Header-menu-item.button.button-pink(href='') List item now!
        button.Header-menu-item-photo.button-pink
          svg.icon.icon-menu
            use(xlink:href='#icon-camera')
      .Header-menu-user
        a.Header-menu-user-photo(href='index.html')
          img(src="img/user.jpg", alt="")
      a.Header-menu-helper(href="lv.html")
        select
          option(value='') EN
        select
          option(value='') LV
