$max-width: 1140px;
$gutter: 20px;
$border-radius: 20px;
$finger-size: 44px;
$font-size: 16px;
$font-size-small: .9em;
//
$color-pink: rgb(255, 63, 85);
$color-soft-blue: #F1F6FF;
$color-yellow: #FBBE00;
//
$font-family: "Open Sans", sans-serif;