section.Advert 
  .container
    .Advert-path
      .Advert-path-detail
        | Home page  
      .Advert-path-detail.dot
        | |
      .Advert-path-detail
        |  Cars around Jurmala  
      .Advert-path-detail.dot
        |  |
      .Advert-path-detail
        |  Bmw  
      .Advert-path-detail.dot
        |  |
      .Advert-path-detail
        |   3.20i
    .Advert-hero
      .swiper-container
        // Additional required wrapper
        .swiper-wrapper
          // Slides
          .swiper-slide
            img.slide1(src="img/ymah251.jpg")
          .swiper-slide
            img.slide1(src="img/apple.jpg")
          .swiper-slide 
            img.slide1(src="img/jacket.jpg")
        .swiper-button-prev
        .swiper-pagination 
        .swiper-button-next
      .Advert-hero-info
        .Advert-hero-info-price
          h1 12.250 €
          .Advert-hero-info-icons
            svg.icon.heart
              use(xlink:href='#icon-heart')  
            svg.icon.heart
              use(xlink:href='#icon-share')
            svg.icon.heart
              use(xlink:href='#icon-warning')
        .Advert-hero-info-header
          h3 2019 Bmw 3.20i 140 HP
        .Advert-hero-info-time 
          .Advert-hero-info-time-icon
            svg.icon.icon-menu
              use(xlink:href='#icon-fire') 
          .Advert-hero-info-time-date
            p 2 hours ago
        .Advert-hero-info-categories 
          a.Advert-hero-info-categories-button(href='') Bmw
          a.Advert-hero-info-categories-button(href='') 3.20i
          a.Advert-hero-info-categories-button(href='') 2019
        .Advert-hero-info-desc 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis turpis urna, non ornare risus porttitor at. Suspendisse quam turpis, varius eget tempus eget, finibus eu magna. Nullam varius sit amet leo a elementum. Morbi eu mi libero. Phasellus venenatis mattis ex at elementum. Morbi sed feugiat ex. Proin condimentum eget elit id molestie. Vestibulum viverra velit in magna vestibulum imperdiet. Nulla turpis diam, eleifend in ex vitae, suscipit aliquet est. Donec id dui tortor. Ut nec nisi augue. Mauris et mi placerat, varius elit nec, rhoncus elit. Donec purus felis, tempus rutrum mollis et, dignissim vitae eros.