section.Login 
  .container
    .Login-form
      h3 Login to Pardod!
      .Login-form-mail
        input.sendform-text.text(type="text" placeholder="mail or phone")
      .Login-form-password 
        input.sendform-text.text(type="text" placeholder="password")
      a.Advert-hero-info-categories-button Send


