section.Message
  .container
    .Message-frame
      .Message-frame-header 
        .Message-frame-header-left
          svg.icon.back
            use(xlink:href='#icon-back')
          a(href="profile.html").Message-frame-header-left-icon
            img(src="img/profile.jpg", alt="")
          a(href="profile.html").Message-frame-header-left-user
            .Message-frame-header-left-user-name 
              h2 John
            .Message-frame-header-left-user-stars
              svg.icon
                use(xlink:href='#icon-star')
              svg.icon
                use(xlink:href='#icon-star')
              svg.icon
                use(xlink:href='#icon-star')
              svg.icon
                use(xlink:href='#icon-star')
              svg.icon
                use(xlink:href='#icon-star')
        .Message-frame-header-product
          .Message-frame-header-product-head
            h3 2019 Bmw 3.20i 140 HP
            .Message-frame-header-product-head-price
              p 12.250 €
          .Message-frame-header-product-icon
            img(src="img/ymah251.jpg", alt="")
      .Message-frame-list#messages
        .Message-frame-list-text.left
          .Message-frame-list-text-main Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, mollitia?
          .Message-frame-list-text-secondary 02:22
        .Message-frame-list-text.right
          .Message-frame-list-text-main Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, mollitia?
          .Message-frame-list-text-secondary 02:22
        .Message-frame-list-text.left
          .Message-frame-list-text-main Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, mollitia?
          .Message-frame-list-text-secondary 02:22
        .Message-frame-list-text.right
          .Message-frame-list-text-main Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, mollitia?
          .Message-frame-list-text-secondary 02:22
        .Message-frame-list-text.left
          .Message-frame-list-text-main Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, mollitia?
          .Message-frame-list-text-secondary 02:22
        .Message-frame-list-text.right
          .Message-frame-list-text-main Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, mollitia?
          .Message-frame-list-text-secondary 02:22
      .Message-frame-form
        .Message-frame-form-buttons 
          a.Advert-hero-user-shortmessage-buttons-button(href='message.html') I'm interested!
          a.Advert-hero-user-shortmessage-buttons-button(href='message.html') Let's meet!
          a.Advert-hero-user-shortmessage-buttons-button(href='message.html') Sorry, not interested.
          a.Advert-hero-user-shortmessage-buttons-button(href='message.html') Let's meet!
        .Message-frame-form-input
          input.Advert-hero-user-sendform-text.text(type="text" placeholder="Send message to John")
          a.Advert-hero-user-shortmessage-buttons-button(href='message.html') Send 
      