section.Showcase
  .container
    .Showcase-hero
      .Showcase-hero-info
        h1.Showcase-hero-info-title Pārdodiet priekšmetus, kurus neizmantojat, atklājiet iespējas sev apkārt!
        input.text.Showcase-hero-info-search(type="text" placeholder="Meklēt 'Televīziju..''")
      img.Showcase-hero-image(src="img/human.svg")
    .Showcase-Cards 
      h2.Showcase-cards-title Meklēt pēc kategorijas 👀
      .Showcase-cards-list
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-blue
            svg.icon.icon-menu
              use(xlink:href='#icon-phone_iphone')  
          h6.Showcase-cards-list-item-info Elektroniski
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-green
            svg.icon.icon-menu
              use(xlink:href='#icon-drive_eta')
          h6.Showcase-cards-list-item-info Auto
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-deepblue
            svg.icon.icon-menu
                use(xlink:href='#icon-basketball')
          h6.Showcase-cards-list-item-info Sports
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-orange
            svg.icon.icon-menu
              use(xlink:href='#icon-motorcycle')
          h6.Showcase-cards-list-item-info Motocikls
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-yellow
            svg.icon.icon-menu
              use(xlink:href='#icon-weekend')
          h6.Showcase-cards-list-item-info Māja un dārzs
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-pink
            svg.icon.icon-menu
              use(xlink:href='#icon-camera')
          h6.Showcase-cards-list-item-info Mode
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-lightblue
            svg.icon.icon-menu
              use(xlink:href='#icon-child_friendly')
          h6.Showcase-cards-list-item-info Bērns un mazulis
        .Showcase-cards-list-item-container
          a(href="search.html").Showcase-cards-list-item.bg-purple
            svg.icon.icon-menu
              use(xlink:href='#icon-house')
          h6.Showcase-cards-list-item-info Īpašums       
    .Showcase-advert
      .Showcase-advert-container
        img(src="img/adsense.png", alt="")
        h2.Showcase-advert-container-text possible google adsense layout
    .Showcase-popular
      .Showcase-popular-title
        h2 Populāri produkti ✨
      .Showcase-popular-list
        .Showcase-popular-list-item
          a(href="search.html").Showcase-popular-list-item-frame
            img(src="img/kitchenxs.png", alt="")
          .Showcase-popular-list-item-button
            span Virtuves piederumi
        .Showcase-popular-list-item
          a(href="search.html").Showcase-popular-list-item-frame
            img(src="img/car.png", alt="")
          .Showcase-popular-list-item-button
            span Auto
        .Showcase-popular-list-item
          a(href="search.html").Showcase-popular-list-item-frame
            img(src="img/phone.png", alt="")
          .Showcase-popular-list-item-button
            span Viedtālrunis
        .Showcase-popular-list-item
          a(href="search.html").Showcase-popular-list-item-frame
            img(src="img/tent.png", alt="")
          .Showcase-popular-list-item-button
            span Kempinga telts
    .Showcase-selected
      h2.Showcase-selected-title Jums atlasīts ❤️
      .Showcase-selected-list
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/apple.jpg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Riga · 1,4 km
                p.strong Huawei P20 lite
                p.light Smart Phone
                p.strong 250€
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/moto.jpeg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Jurmala · 14,2 km
                p.strong Yamaha MT-25 for sale
                p.light Motorcycle
                p.strong 4500€
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/jacket.jpg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Baldone · 10,9 km
                p.strong Used men jacket 
                p.light Fashion
                p.strong 250€
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/wmachine.jpg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Riga · 4 km
                p.strong Washing machine
                p.light Electronic
                p.strong 125€
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/jacket.jpg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Baldone · 10,9 km
                p.strong Used men jacket 
                p.light Fashion
                p.strong 250€
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/wmachine.jpg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Riga · 4 km
                p.strong Washing machine
                p.light Electronic
                p.strong 125€
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/apple.jpg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Riga · 1,4 km
                p.strong Huawei
                p.light telefon
                p.strong 250€
        a(href="search.html").Showcase-selected-list-item
          .Showcase-selected-list-item-wrapper
              .Showcase-selected-list-item-wrapper.heart
                svg.icon.icon-menu
                  use(xlink:href='#icon-heart')  
              .Showcase-selected-list-item-wrapper-frame
                img(src="img/moto.jpeg", alt="")
              .Showcase-selected-list-item-wrapper-info
                p.light Jurmala · 14,2 km
                p.strong Yamaha MT-25 for sale
                p.light Motorcycle
                p.strong 4500€
