section.Showcase
  .container
    .Showcase-hero
      .Showcase-hero-info
        h1.Showcase-hero-info-title Sell items you don't use, discover opportunities around you!
        input.text.Showcase-hero-info-search(type="text" placeholder="Search for 'Television..'")
      img.Showcase-hero-image(src="img/human.svg")


