.Showcase {
  margin-top: $gutter;

  &-hero {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    @include mq("tablet") {
      flex-direction: row;
    }
    &-info {
      margin-top: auto;
      @include mq("tablet") {
        max-width: 50%;
      }
      &-title {
        margin-top: $gutter;
        color: rgb(44, 44, 44);
        @include mq("tablet") {
          font-size: 2.5em;
        }
      }
      &-search {
        padding: 8px;
        background-color: whitesmoke;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 100%;
        outline-width: 20px;
        @include mq("tablet") {
          width: 85%;
          padding: 6px;
        }
      }
    }
    &-image {
      display: none;
      @include mq("tablet") {
        display: flex;
        width: 400px;
        height: 402px;
        margin-left: auto;
      }
    }
  }
  &-cards {
    margin-top: $gutter;

    &-list {
      margin-top: $gutter;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        border-radius: 10px;
        height: 10px;
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      &-item {
        color: white;
        height: 120px;
        width: 100px;
        margin-bottom: 15px;
        margin-right: 8px;
        margin-left: 8px;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include mq("tablet") {
          height: 150px;
          width: 120px;
        }
        &-info {
          font-weight: 600;
          font-size: 0.7rem;
          color:grey;
          margin-bottom: 15px;
          @include mq("tablet") {
            font-size: 1rem;
            cursor: pointer;
          }
        }
        &-container{
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          @include mq("tablet") {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  &-advert {
    &-container{
      margin-top: $gutter;
      margin-bottom: $gutter;
      padding: $gutter;
      background-color: rgba(0,0,255, .2);
      width: 100%;
      display: flex;
      img {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        height: 60px;
        @include mq("tablet") {
          width: auto;
          height: 90px;
        }
      }
    }
  }
}

.bg-blue {
  background-color: #6bcebb;
} 

.bg-green{
  background-color: #28a745;
}

.bg-deepblue {
  background-color: #007bff;
}

.bg-orange {
  background-color: #fd7e14;
}

.bg-yellow {
  background-color: #ffc107;
}

.bg-pink {
  background-color: #e83e8c;
}

.bg-lightblue {
  background-color: #20c3f3;
}

.bg-purple {
  background-color: #a175d9;
}


